/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.boxes{
  height: 300px;
  width: 300px;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
  font-size: 3rem;
  height: 100px;
  width: 100px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
  border-top: none;
}

.box:nth-child(3n) {
  border-right: none;
}

.box:nth-child(3n+1) {
  border-left: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
  border-bottom: none;
}

.winnerText {
  display: block;
  height: 50px;
}

.restart {
  height: 30px;
  width: 80px;
}