/******************************************
/* CSS
/*******************************************/
/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  margin: 0;
  text-align: center;
  font-family: system-ui;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h2 {
  color: #2c3e50;
}

p {
  color: #2c3e50;
}

h1 {
  color: #2c3e50;
}

html { 
  background: url("../images/25101.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.boxes{
  height: 400px;
  width: 400px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;

  display: grid;
  grid-template: repeat(3,1fr)/repeat(3,1fr);
  
}

.box {
  font-size: 4rem;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  height: 130px;
  width: 130px;
  border: 6px solid black;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
  border-top: none;
}

.box:nth-child(3n) {
  border-right: none;
}

.box:nth-child(3n+1) {
  border-left: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
  border-bottom: none;
}

.winnerText {
  display: block;
  height: 50px;
}

.restart {
  background-color: #34495e;
  height: 30px;
  width: 80px;
  color: white;
}